   /*quitar los estilos a la lista*/
   
   ul {
       list-style: none;
   }
   /*quitar el margen por defecto que trae el body*/
   
   body {
       margin: 0 px
   }
   /*ajustar con una clase la distribución de la lista => display*/
   
   .navbar {
       display: flex;
       justify-content: space-between;
       padding: 0px;
       margin: 0px;
       padding: 10px;
   }