body {
    margin: 0
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


/*crear una clase para el boton buscar y aplicarle unas propiedades*/

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
}


/*crear una subclase para el boton buscar y aplicarle unas propiedades*/

.buscar:focus-within {
    border: 1px solid blue;
}


/*crear otra subclase para el boton buscar y aplicarle unas propiedades*/

.buscar>input {
    outline: none;
    border: 0px;
}