body {
    margin: 0
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


/*crear una clase para un boton generico y agregarle estilos*/

.botonGenerico {
    border: 0px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
}


/*crear una subclasse al boton generico y agregarle estilos*/

.botonGenerico:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.mainButton {
    background-color: rgb(65, 204, 52);
    color: white;
}

.mainButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px gray;
    transform: scale(1.2);
}

.secundaryButton {
    background-color: blue;
    color: white;
}

.secundaryButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px gray;
    transform: scale(1.2);
}